section
{
    text-align: justify;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
   
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
}