nav
{
    
    width: 150px;
    border: 1px solid black;
    display: inline-block; 
    vertical-align: top;
}

section
{
    border: 1px solid blue;
    margin-left: 170px;
    display: inline-block; 
    vertical-align: top;

}